
.C{

    display: flex;
    flex-direction: column;
    background-color: black;
    width: 1600px;
    color: rgb(255, 255, 255);
    height: 745px;
    text-align: center;



}
.elements{ 
    padding: 35px;
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}
.Eelements{

 padding: 40px;


}


.btn1{
    color: rgb(255, 255, 255);
    align-items: center;
    border-radius: 30px;
    padding: 10px;
    background-color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 700px;
    

}
.r{
    border-style: none ;
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100px;
    background-image: url("Anipics/a\ violet\ fantasy\ theme\ image\ with\ 900x120\ dimensions.png");
   
} 
.r2{
    
    background-color: blueviolet;
    height: 170px;
}
.r3{
    color: aliceblue;
    background-color: rgb(100, 21, 174);
    height: 150px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    text-align: center;


}
.r4{
    background-color: rgb(87, 0, 168);
    height: 130px;



}
.r5{
    background-color: rgb(130, 61, 195);
    height: 120px;

}
.tes{
    background-image: url(Neon.jpg);
    margin-left: 600px;
    border: solid;border-color: rgba(0, 0, 0, 0.978);
    width: 250px;
    height: 100px;
}
.home{
    display: flex;
    flex-direction: column;  width: 380px;
    height: 620px;
    background-image: url(aaaa.png);
    margin-left: 540px;border-radius: 10px;border: 40px solid;
    border: solid;animation-name: ma;animation-iteration-count: infinite;animation-duration: 3s;
  
    margin-top: 20px;
}
a:active
{
    color: rgb(0, 0, 0);
 
}
.input{
    background-color: rgb(119, 81, 114);color: rgb(38, 5, 33);width: 275px;height: 35px;border-radius: 8px;font-size: 19px;
    padding-left: 45px;
}
input::placeholder{
    color: rgb(38, 5, 33);
    
}
.log{
    width: 300px;height: 60px;border-radius: 10px;background-color: rgb(80, 44, 69);color: #a886a0;

}
.log:hover{
    background-color: rgb(151, 81, 205);
    transition-delay: 100ms;
    color: rgb(32, 30, 30);
    border-width: 2px;
    animation-name: exm;
    
       animation-duration: 3s;
       animation-iteration-count: infinite;    
} 
@keyframes exm{
   0% {background-color : rgb(151, 81, 205); color: rgb(32, 30, 30);}
   50% {background-color: rgb(80, 44, 69);color: #a886a0; }
   100%{background-color : rgb(151, 81, 205); color: rgb(32, 30, 30);}
}   
@keyframes ma{
    
    0% {
        border-top-color:  rgb(167, 87, 175);
    }25%{
        border-right-color:    rgb(167, 87, 175);
    }
    12.5%{
        border-top-color:  rgb(252, 251, 255);
    }
      50%{ border-bottom-color:    rgb(167, 87, 175);
   }
    37.5%{
        border-right-color:  rgb(228, 222, 222); 
    }
 
   62.5%{  border-bottom-color: rgb(255, 244, 244);
}

75%{
    border-left-color:   rgb(167, 87, 175);
}
89%{
    border-left-color:  rgb(255, 250, 250);
}
100% {
    border-top-color:  rgb(167, 87, 175);

}
}

a{
    text-decoration: none;
    color: aliceblue;
    font-size: 20px;

}

